$white: #ffffff;
$white-10: #ffffff1a;
$white-70: #ffffffb2;

$alien-green: #a5c882;
$ufo-green: #3cd070;

$success: #46922b;
$light-success: #53bb68;
$error: #cf6679;
$red: #eb4a67;
$dark-red: #ab001f;
$light-red: #ce2443;
$warning: #ffc738;
$warning-opacity10: #ffc7381e;
$error-opacity10: #cf66791a;
$info-opacity10: #191919;

$gray-20: #efefeff0;

$dark-900: #000000;
$dark-800: #0f1116;
$dark-700: #202227;
$dark-600: #313338;
$dark-500: #424449;
$dark-400: #53555a;
$dark-300: #64666b;
$dark-200: #75777c;
$dark-100: #86888d;
$dark-50: #cccccc;
$dark-10: #e1e5e5;
$dark-5: #ebe9e3;
