.dividerMessage {
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after,
  &:before {
    content: '';
    width: 50px;
    opacity: 0.2;
    border-top: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 122px;
    display: inline-block;
  }
}
