# Ignore JavaScript files from external/minified libraries
src/**/*.min.js

# Ignore CSS/SCSS files from external/minified libraries
src/**/*.min.css
src/**/*.min.scss

# Ignore vtt files (subtitle files for videos)
src/**/*.vtt

# Ignore node_modules
node_modules/
